<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout = "http://wwww.ultraq.net.nz/thymeleaf/layout"
      layout:decorate = ~{layout}>
    <main layout:fragment = "main">
        <div class ="m-3 col-12 row">
            <div class="col-6 row">
                <div th:each="pokemon : ${pokemons}" class="card mb-3 ">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img th:src="${pokemon.sripes.other.officialArtwork.front_default}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            </div>
            
    </main>
</html>
